@import "variables";

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid $primary-color;
  background-color: #fff;
  border-radius: 2px;
  vertical-align: sub;
  cursor: pointer;
  transition: background-color .3s ease-out;
}

input[type=checkbox]:checked + label {
  background-color: $primary-color;
}